* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }
@media only screen and (max-width: 767px) {

    .logo-img {
        width: 200px;
        margin: 15px auto 20px auto;
        display: block;
    }

    .location {
        background-color: #f6f6f6;
        text-align: center;
        height: 350px; 
    }
    .location__top {
        background-color: #eaeaea;
        height: 30px;
        padding: 20px 0 10px 0;
        box-shadow: inset 0 2px 2px 0px rgba(58, 42, 42, 0.2);
    }
    .location__top i {
        position: absolute;
        margin: 0 0 0 -80px;
    }
    nav {
        display: none;
    }
    .location__bottom h1 {
        padding-top: 30px;
    }
    .location__bottom p {
        margin: 35px 30px 35px 30px;
        font-size: 20px;
        font-weight: initial;
    }
    .location__bottom button{
        border: white;
        width: 240px;
        height: 50px;
        border-radius: 25px;
        background-image: linear-gradient(to left top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
        color: white;
        text-align: center;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
        outline: none;
        transition: all 400ms ease-in-out;
        cursor: pointer;
        font-size: 17px;
    }
    .location__bottom button:hover {
        transform: scale(1.13);
    }
    
    main {
        padding-bottom: 50px;
    }
    main h3 {
        font-size: 25px;
        padding-bottom: 5px;
        margin-top: 50px;
        margin-left: 25px;
    }
    .main__buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 270px;
        width: 90%;
        padding-left: 10px;
        margin-top: 20px;
        margin-left: 25px;
        align-items: center;
    }
    .main__buttons button {
        font-weight: bold;
        background-color: #f6f6f6;
        width: 85%;
        display: flex;
        align-items: center;
        height: 70px;
        border-radius: 20px;
        border: white;
        outline: none;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        transition: all 0.7s ease-in-out;
        font-size: 17px;
    }
    .main__buttons button i {
        margin: 0 20px 0 20px;
        transition: all 0.5s ease-in-out;
        font-size: 20px;
    }
    .main__buttons button:hover {
        background-color: #f5edff;
        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
        cursor: pointer;
    }
    .main__buttons button:hover i {
        color: #9356dc;
        font-size: 25px;
    }
    .main__buttons button span {
        border: solid 4px #9356DC ;
        border-radius: 20px;
        padding: 0 5px 0 5px;
        background-color: #9356DC  ;
        color: white;
        margin-left: -15px;
    }
    
    article {
        margin-top: 30px;
        background-color: #f6f6f6;
        height: auto;
        width: 100%;
        padding-bottom: 20px;
    }
    article h3 {
        margin-left: 20px;
        font-size: 25px;
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .restaurants {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .grid .rest1 {
        display: grid;
        grid-template-rows: 180px;
        background-image: url(../IMG/Restaurants/1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 250px;
        width: 440px;
        border-radius: 15px;
        justify-content: center;
        align-content: center;
        text-decoration: none;
        margin-bottom: 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    }
    .grid .rest1 span {
        position: relative;
        background-color: #99e2d0;
        color: #278870;
        right: -350px;
        top: -230px;
        text-align: center;
        padding: 3px 20px 3px 20px;
        font-weight: bold;
    }
    .grid .rest2 {
        display: grid;
        grid-template-rows: 180px;
        background-image: url(../IMG/Restaurants/2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 250px;
        width: 440px;
        border-radius: 15px;
        justify-content: center;
        align-content: center;
        text-decoration: none;
        margin-bottom: 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    }
    .grid .rest2 span {
        position: relative;
        background-color: #99e2d0;
        color: #278870;
        right: -350px;
        top: -230px;
        text-align: center;
        padding: 3px 20px 3px 20px;
        font-weight: bold;
    }
    .grid .rest3 {
        display: grid;
        grid-template-rows: 180px;
        background-image: url(../IMG/Restaurants/3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 250px;
        width: 440px;
        border-radius: 15px;
        justify-content: center;
        align-content: center;
        text-decoration: none;
        margin-bottom: 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    }
    .grid .rest4 {
        display: grid;
        grid-template-rows: 180px;
        background-image: url(../IMG/Restaurants/4.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 250px;
        width: 440px;
        border-radius: 15px;
        justify-content: center;
        align-content: center;
        text-decoration: none;
        margin-bottom: 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    }
    .grid .rest5 {
        display: none;
    }
    .grid .rest6 {
        display: none;
    }
    .text-box {
        background: white;
        color: black;
        width: 430px;
        height: 70px;
        border-radius: 0px 0px 15px 15px;
        padding: 5px 5px 0 5px;
        margin-top: 30px;
    }
    .text-box h4 {
        padding: 10px 0 10px 10px;
        font-weight: bolder;
    }
    .text-box p {
        padding: 0 0 10px 10px;
        font-weight: lighter;
    }
    .card-react {
        position: relative;
        right: 0px;
        top: -50px;
        overflow: hidden;
        float: right;
    }
      
    .card-react .empty_heart {
        cursor: pointer;
        padding-top: 2px;
        background: white;
        transform: translate(-30px, 0);
        font-size: 26px;
        height: 30px;
    }
    .card-react .full_heart {
        background: linear-gradient(to left top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        height: 30px;
        padding-top: 6px;
        font-size: 26px;
    }
    .empty_heart:hover {
                animation: fillheart 600ms cubic-bezier(0.46, 0.33, 0.92, 1.96) forwards;
    }
      
      @keyframes fillheart {
        0% {
                  transform: translate(-30px, 0);
          color: white;
        }
        100% {
                  transform: translate(-30px, -40px);
          color: white;
        }
    }

    footer {
        background-color: #353535;
        height: 195px;
    }
    .info {
        color: ghostwhite;
        padding: 15px 0px 0px 25px;
        line-height: 1.5;
        height: fit-content;
    }  
    .info h3 {
        margin-bottom: 20px;
        margin-top: 5px;
        font-family: "Shrikhand", cursive;
        font-size: 20px;
        font-weight: 100;
    }  
    .info a {
        display: block;
        color: ghostwhite;
        text-decoration: none;
    }
    .info i {
        margin-right: 5px;
        color: ghostwhite;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    
    nav ul {
        float: right;
    }
    nav ul li {
        float: left;
        list-style-type: none;
        margin-left: 20px;
        padding: 5px 14px;
        font-size: 13px;
        font-weight: 500;
        margin-right: 15px;
    }
    nav ul .btn_contact {
        border: white;
        border-radius: 20px;
        background-image: linear-gradient(to left top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
        text-align: center;
        outline: none;
    }
    nav ul .btn_contact a{
        color: white;
    }
    nav ul a {
        text-decoration: none;
        color: black;
    }

    .logo-img {
        width: 200px;
        margin: 15px 0 20px 20px;
        display: block;
    }
    .location {
        background-color: #f6f6f6;
        text-align: center;
        height: 350px; 
    }
    .location__top {
        background-color: #eaeaea;
        height: 30px;
        padding: 20px 0 10px 0;
        box-shadow: inset 0 2px 2px 0px rgba(58, 42, 42, 0.2);
    }
    .location__top i {
        position: absolute;
        margin: 0 0 0 -80px;
    }
    .location__bottom h1 {
        padding-top: 30px;
    }
    .location__bottom p {
        margin: 35px 30px 35px 30px;
        font-size: 20px;
        font-weight: initial;
    }
    .location__bottom button{
        border: white;
        width: 240px;
        height: 50px;
        border-radius: 25px;
        background-image: linear-gradient(to left top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
        color: white;
        text-align: center;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
        outline: none;
        transition: all 400ms ease-in-out;
        cursor: pointer;
        font-size: 17px;
    }
    .location__bottom button:hover {
        transform: scale(1.13);
    }

    main {
        padding-bottom: 50px;
        text-align: center;
    }
    main h3 {
        font-size: 25px;
        padding-bottom: 5px;
        margin-top: 50px;
    }
    .main__buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 270px;
        width: 95%;
        padding-left: 10px;
        margin-top: 20px;
        margin-left: 25px;
        align-items: center;
    }
    .main__buttons button {
        font-weight: bold;
        background-color: #f6f6f6;
        width: 65%;
        display: flex;
        align-items: center;
        height: 70px;
        border-radius: 20px;
        border: white;
        outline: none;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        transition: all 0.7s ease-in-out;
        font-size: 17px;
    }
    .main__buttons button i {
        margin: 0 20px 0 20px;
        transition: all 0.5s ease-in-out;
        font-size: 20px;
    }
    .main__buttons button:hover {
        background-color: #f5edff;
        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
        cursor: pointer;
    }
    .main__buttons button:hover i {
        color: #9356dc;
        font-size: 25px;
    }
    .main__buttons button span {
        border: solid 4px #9356DC ;
        border-radius: 20px;
        padding: 0 5px 0 5px;
        background-color: #9356DC  ;
        color: white;
        margin-left: -15px;
    }
    article {
        margin-top: 30px;
        background-color: #f6f6f6;
        height: auto;
        width: 100%;
        padding-bottom: 20px;
    }
    article h3 {
        font-size: 25px;
        padding-top: 40px;
        padding-bottom: 20px;
        text-align: center;
    }
    .restaurants {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .grid .rest1 {
        display: grid;
        grid-template-rows: 180px;
        background-image: url(../IMG/Restaurants/1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 250px;
        width: 440px;
        border-radius: 15px;
        justify-content: center;
        align-content: center;
        text-decoration: none;
        margin: 10px 5px 30px 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    }
    .grid .rest1 span {
        position: relative;
        background-color: #99e2d0;
        color: #278870;
        right: -350px;
        top: -230px;
        text-align: center;
        padding: 3px 20px 3px 20px;
        font-weight: bold;
    }
    .grid .rest2 {
        display: grid;
        grid-template-rows: 180px;
        background-image: url(../IMG/Restaurants/2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 250px;
        width: 440px;
        border-radius: 15px;
        justify-content: center;
        align-content: center;
        text-decoration: none;
        margin: 10px 5px 30px 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    }
    .grid .rest2 span {
        position: relative;
        background-color: #99e2d0;
        color: #278870;
        right: -350px;
        top: -230px;
        text-align: center;
        padding: 3px 20px 3px 20px;
        font-weight: bold;
    }
    .grid .rest3 {
        display: grid;
        grid-template-rows: 180px;
        background-image: url(../IMG/Restaurants/3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 250px;
        width: 440px;
        border-radius: 15px;
        justify-content: center;
        align-content: center;
        text-decoration: none;
        margin: 10px 5px 30px 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    }
    .grid .rest4 {
        display: grid;
        grid-template-rows: 180px;
        background-image: url(../IMG/Restaurants/4.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 250px;
        width: 440px;
        border-radius: 15px;
        justify-content: center;
        align-content: center;
        text-decoration: none;
        margin: 10px 5px 30px 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    }
    .grid .rest5 {
        display: none;
    }
    .grid .rest6 {
        display: none;
    }
    .text-box {
        background: white;
        color: black;
        width: 430px;
        height: 70px;
        border-radius: 0px 0px 15px 15px;
        padding: 5px 5px 0 5px;
        margin-top: 30px;
    }
    .text-box h4 {
        padding: 10px 0 10px 10px;
        font-weight: bolder;
    }
    .text-box p {
        padding: 0 0 10px 10px;
        font-weight: lighter;
    }
    .card-react {
        position: relative;
        right: 0px;
        top: -50px;
        overflow: hidden;
        float: right;
    }
      
    .card-react .empty_heart {
        cursor: pointer;
        padding-top: 2px;
        background: white;
        transform: translate(-30px, 0);
        font-size: 26px;
        height: 30px;
    }
      
    .card-react .full_heart {
        background: linear-gradient(to left top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        height: 30px;
        padding-top: 6px;
        font-size: 26px;
    }
      
    .empty_heart:hover {
                animation: fillheart 600ms cubic-bezier(0.46, 0.33, 0.92, 1.96) forwards;
      }
      
      @keyframes fillheart {
        0% {
                  transform: translate(-30px, 0);
          color: white;
        }
        100% {
                  transform: translate(-30px, -40px);
          color: white;
        }
    }
    
    footer {
        background-color: #353535;
        height: 195px;
    }
    .info {
        color: ghostwhite;
        padding: 15px 0px 0px 25px;
        line-height: 1.5;
        height: fit-content;
    }  
    .info h3 {
        margin-bottom: 20px;
        margin-top: 5px;
        font-family: "Shrikhand", cursive;
        font-size: 20px;
        font-weight: 100;
    }  
    .info a {
        display: block;
        color: ghostwhite;
        text-decoration: none;
    }
    .info i {
        margin-right: 5px;
        color: ghostwhite;
    }
}


@media (min-width: 1025px) and (max-width: 1500px) {

    nav ul {
        float: right;
    }
    nav ul li {
        float: left;
        list-style-type: none;
        margin-left: 20px;
        padding: 5px 14px;
        font-size: 13px;
        font-weight: 500;
        margin-right: 15px;
    }
    nav ul .btn_contact {
        border: white;
        border-radius: 20px;
        background-image: linear-gradient(to left top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
        text-align: center;
        outline: none;
    }
    nav ul .btn_contact a{
        color: white;
    }
    nav ul a {
        text-decoration: none;
        color: black;
    }

    .logo-img {
        width: 200px;
        margin: 15px 0 20px 20px;
        display: block;
    }
    .location {
        background-color: #f6f6f6;
        text-align: center;
        height: 350px; 
    }
    .location__top {
        background-color: #eaeaea;
        height: 30px;
        padding: 20px 0 10px 0;
        box-shadow: inset 0 2px 2px 0px rgba(58, 42, 42, 0.2);
    }
    .location__top i {
        position: absolute;
        margin: 0 0 0 -80px;
    }
    .location__bottom h1 {
        padding-top: 30px;
    }
    .location__bottom p {
        margin: 35px 30px 35px 30px;
        font-size: 20px;
        font-weight: initial;
    }
    .location__bottom button{
        border: white;
        width: 240px;
        height: 50px;
        border-radius: 25px;
        background-image: linear-gradient(to left top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
        color: white;
        text-align: center;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
        outline: none;
        transition: all 400ms ease-in-out;
        cursor: pointer;
        font-size: 17px;
    }
    .location__bottom button:hover {
        transform: scale(1.13);
    }

    main {
        padding-bottom: 50px;
        text-align: center;
    }
    main h3 {
        font-size: 25px;
        padding-bottom: 5px;
        margin-top: 50px;
    }
    .main__buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 270px;
        width: 95%;
        padding-left: 10px;
        margin-top: 20px;
        margin-left: 25px;
        align-items: center;
    }
    .main__buttons button {
        font-weight: bold;
        background-color: #f6f6f6;
        width: 50%;
        display: flex;
        align-items: center;
        height: 70px;
        border-radius: 20px;
        border: white;
        outline: none;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        transition: all 0.7s ease-in-out;
        font-size: 17px;
    }
    .main__buttons button i {
        margin: 0 20px 0 20px;
        transition: all 0.5s ease-in-out;
        font-size: 20px;
    }
    .main__buttons button:hover {
        background-color: #f5edff;
        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
        cursor: pointer;
    }
    .main__buttons button:hover i {
        color: #9356dc;
        font-size: 25px;
    }
    .main__buttons button span {
        border: solid 4px #9356DC ;
        border-radius: 20px;
        padding: 0 5px 0 5px;
        background-color: #9356DC  ;
        color: white;
        margin-left: -15px;
    }
    article {
        margin-top: 30px;
        background-color: #f6f6f6;
        height: auto;
        width: 100%;
        padding-bottom: 20px;
    }
    article h3 {
        font-size: 25px;
        padding-top: 40px;
        padding-bottom: 20px;
        text-align: center;
    }
    .restaurants {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .grid .rest1 {
        display: grid;
        grid-template-rows: 180px;
        background-image: url(../IMG/Restaurants/1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 250px;
        width: 440px;
        border-radius: 15px;
        justify-content: center;
        align-content: center;
        text-decoration: none;
        margin: 10px 25px 30px 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    }
    .grid .rest1 span {
        position: relative;
        background-color: #99e2d0;
        color: #278870;
        right: -350px;
        top: -230px;
        text-align: center;
        padding: 3px 20px 3px 20px;
        font-weight: bold;
    }
    .grid .rest2 {
        display: grid;
        grid-template-rows: 180px;
        background-image: url(../IMG/Restaurants/2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 250px;
        width: 440px;
        border-radius: 15px;
        justify-content: center;
        align-content: center;
        text-decoration: none;
        margin: 10px 25px 30px 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    }
    .grid .rest2 span {
        position: relative;
        background-color: #99e2d0;
        color: #278870;
        right: -350px;
        top: -230px;
        text-align: center;
        padding: 3px 20px 3px 20px;
        font-weight: bold;
    }
    .grid .rest3 {
        display: grid;
        grid-template-rows: 180px;
        background-image: url(../IMG/Restaurants/3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 250px;
        width: 440px;
        border-radius: 15px;
        justify-content: center;
        align-content: center;
        text-decoration: none;
        margin: 10px 25px 30px 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    }
    .grid .rest4 {
        display: grid;
        grid-template-rows: 180px;
        background-image: url(../IMG/Restaurants/4.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 250px;
        width: 440px;
        border-radius: 15px;
        justify-content: center;
        align-content: center;
        text-decoration: none;
        margin: 10px 25px 30px 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    }
    .grid .rest5 {
        display: none;
    }
    .grid .rest6 {
        display: none;
    }
    .text-box {
        background: white;
        color: black;
        width: 430px;
        height: 70px;
        border-radius: 0px 0px 15px 15px;
        padding: 5px 5px 0 5px;
        margin-top: 30px;
    }
    .text-box h4 {
        padding: 10px 0 10px 10px;
        font-weight: bolder;
    }
    .text-box p {
        padding: 0 0 10px 10px;
        font-weight: lighter;
    }
    .card-react {
        position: relative;
        right: 0px;
        top: -50px;
        overflow: hidden;
        float: right;
    }
      
    .card-react .empty_heart {
        cursor: pointer;
        padding-top: 2px;
        background: white;
        transform: translate(-30px, 0);
        font-size: 26px;
        height: 30px;
    }
      
    .card-react .full_heart {
        background: linear-gradient(to left top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        height: 30px;
        padding-top: 6px;
        font-size: 26px;
    }
      
    .empty_heart:hover {
                animation: fillheart 600ms cubic-bezier(0.46, 0.33, 0.92, 1.96) forwards;
      }
      
      @keyframes fillheart {
        0% {
                  transform: translate(-30px, 0);
          color: white;
        }
        100% {
                  transform: translate(-30px, -40px);
          color: white;
        }
    }
    
    footer {
        background-color: #353535;
        height: 195px;
    }
    .info {
        color: ghostwhite;
        padding: 15px 0px 0px 25px;
        line-height: 1.5;
        height: fit-content;
    }  
    .info h3 {
        margin-bottom: 20px;
        margin-top: 5px;
        font-family: "Shrikhand", cursive;
        font-size: 20px;
        font-weight: 100;
    }  
    .info a {
        display: block;
        color: ghostwhite;
        text-decoration: none;
    }
    .info i {
        margin-right: 5px;
        color: ghostwhite;
    }
}


@media (min-width: 1501px) {

    
    nav ul {
        float: right;
    }
    nav ul li {
        float: left;
        list-style-type: none;
        margin-left: 20px;
        padding: 5px 14px;
        font-size: 13px;
        font-weight: 500;
        margin-right: 15px;
    }
    nav ul .btn_contact {
        border: white;
        border-radius: 20px;
        background-image: linear-gradient(to left top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
        text-align: center;
        outline: none;
    }
    nav ul .btn_contact a{
        color: white;
    }
    nav ul a {
        text-decoration: none;
        color: black;
    }

    .logo-img {
        width: 200px;
        margin: 15px 0 20px 50px;
        display: block;
    }
    .location {
        background-color: #f6f6f6;
        text-align: center;
        height: 350px; 
    }
    .location__top {
        background-color: #eaeaea;
        height: 30px;
        padding: 20px 0 10px 0;
        box-shadow: inset 0 2px 2px 0px rgba(58, 42, 42, 0.2);
    }
    .location__top i {
        position: absolute;
        margin: 0 0 0 -80px;
    }
    .location__bottom h1 {
        padding-top: 30px;
    }
    .location__bottom p {
        margin: 35px 30px 35px 30px;
        font-size: 20px;
        font-weight: initial;
    }
    .location__bottom button{
        border: white;
        width: 240px;
        height: 50px;
        border-radius: 25px;
        background-image: linear-gradient(to left top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
        color: white;
        text-align: center;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
        outline: none;
        transition: all 400ms ease-in-out;
        cursor: pointer;
        font-size: 17px;
    }
    .location__bottom button:hover {
        transform: scale(1.13);
    }

    main {
        padding-bottom: 50px;
        text-align: center;
    }
    main h3 {
        font-size: 25px;
        padding-bottom: 5px;
        margin-top: 50px;
    }
    .main__buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 270px;
        width: 95%;
        padding-left: 10px;
        margin-top: 20px;
        margin-left: 25px;
        align-items: center;
    }
    .main__buttons button {
        font-weight: bold;
        background-color: #f6f6f6;
        width: 40%;
        display: flex;
        align-items: center;
        height: 70px;
        border-radius: 20px;
        border: white;
        outline: none;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        transition: all 0.7s ease-in-out;
        font-size: 17px;
    }
    .main__buttons button i {
        margin: 0 20px 0 20px;
        transition: all 0.5s ease-in-out;
        font-size: 20px;
    }
    .main__buttons button:hover {
        background-color: #f5edff;
        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
        cursor: pointer;
    }
    .main__buttons button:hover i {
        color: #9356dc;
        font-size: 25px;
    }
    .main__buttons button span {
        border: solid 4px #9356DC ;
        border-radius: 20px;
        padding: 0 5px 0 5px;
        background-color: #9356DC  ;
        color: white;
        margin-left: -15px;
    }
    article {
        margin-top: 30px;
        background-color: #f6f6f6;
        height: auto;
        width: 100%;
        padding-bottom: 20px;
    }
    article h3 {
        font-size: 25px;
        padding-top: 40px;
        padding-bottom: 20px;
        text-align: center;
    }
    .restaurants {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .grid .rest1 {
        display: grid;
        grid-template-rows: 180px;
        background-image: url(../IMG/Restaurants/1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 250px;
        width: 440px;
        border-radius: 15px;
        justify-content: center;
        align-content: center;
        text-decoration: none;
        margin: 10px 25px 30px 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    }
    .grid .rest1 span {
        position: relative;
        background-color: #99e2d0;
        color: #278870;
        right: -350px;
        top: -230px;
        text-align: center;
        padding: 3px 20px 3px 20px;
        font-weight: bold;
    }
    .grid .rest2 {
        display: grid;
        grid-template-rows: 180px;
        background-image: url(../IMG/Restaurants/2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 250px;
        width: 440px;
        border-radius: 15px;
        justify-content: center;
        align-content: center;
        text-decoration: none;
        margin: 10px 25px 30px 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    }
    .grid .rest2 span {
        position: relative;
        background-color: #99e2d0;
        color: #278870;
        right: -350px;
        top: -230px;
        text-align: center;
        padding: 3px 20px 3px 20px;
        font-weight: bold;
    }
    .grid .rest3 {
        display: grid;
        grid-template-rows: 180px;
        background-image: url(../IMG/Restaurants/3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 250px;
        width: 440px;
        border-radius: 15px;
        justify-content: center;
        align-content: center;
        text-decoration: none;
        margin: 10px 25px 30px 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    }
    .grid .rest4 {
        display: grid;
        grid-template-rows: 180px;
        background-image: url(../IMG/Restaurants/4.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 250px;
        width: 440px;
        border-radius: 15px;
        justify-content: center;
        align-content: center;
        text-decoration: none;
        margin: 10px 25px 30px 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    }
    .grid .rest5 {
        display: grid;
        grid-template-rows: 180px;
        background-image: url(../IMG/Restaurants/5.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 250px;
        width: 440px;
        border-radius: 15px;
        justify-content: center;
        align-content: center;
        text-decoration: none;
        margin: 10px 25px 30px 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    }
    .grid .rest6 {
        display: grid;
        grid-template-rows: 180px;
        background-image: url(../IMG/Restaurants/6.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 250px;
        width: 440px;
        border-radius: 15px;
        justify-content: center;
        align-content: center;
        text-decoration: none;
        margin: 10px 25px 30px 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    }
    .text-box {
        background: white;
        color: black;
        width: 430px;
        height: 70px;
        border-radius: 0px 0px 15px 15px;
        padding: 5px 5px 0 5px;
        margin-top: 30px;
    }
    .text-box h4 {
        padding: 10px 0 10px 10px;
        font-weight: bolder;
    }
    .text-box p {
        padding: 0 0 10px 10px;
        font-weight: lighter;
    }
    .card-react {
        position: relative;
        right: 0px;
        top: -50px;
        overflow: hidden;
        float: right;
    }
    .card-react .empty_heart {
        cursor: pointer;
        padding-top: 2px;
        background: white;
        transform: translate(-30px, 0);
        font-size: 26px;
        height: 30px;
    }
    .card-react .full_heart {
        background: linear-gradient(to left top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        height: 30px;
        padding-top: 6px;
        font-size: 26px;
    }
    .empty_heart:hover {
                animation: fillheart 600ms cubic-bezier(0.46, 0.33, 0.92, 1.96) forwards;
      }
      
      @keyframes fillheart {
        0% {
                  transform: translate(-30px, 0);
          color: white;
        }
        100% {
                  transform: translate(-30px, -40px);
          color: white;
        }
    }
    
    footer {
        background-color: #353535;
        height: 195px;
    }
    .info {
        color: ghostwhite;
        padding: 15px 0px 0px 25px;
        line-height: 1.5;
        height: fit-content;
    }  
    .info h3 {
        margin-bottom: 20px;
        margin-top: 5px;
        font-family: "Shrikhand", cursive;
        font-size: 20px;
        font-weight: 100;
    }  
    .info a {
        display: block;
        color: ghostwhite;
        text-decoration: none;
    }
    .info i {
        margin-right: 5px;
        color: ghostwhite;
    }
}

.infinity {
    width: 120px;
    height: 60px;
    position: relative;
  }
  .infinity div,
  .infinity span {
    position: absolute;
  }
  .infinity div {
    top: 0;
    left: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: rotate 6.9s linear infinite;
            animation: rotate 6.9s linear infinite;
  }
  .infinity div span {
    left: -8px;
    top: 50%;
    margin: -8px 0 0 0;
    width: 16px;
    height: 16px;
    display: block;
    background: #8c6ff0;
    box-shadow: 2px 2px 8px rgba(140, 111, 240, 0.09);
    border-radius: 50%;
    transform: rotate(90deg);
    -webkit-animation: move 6.9s linear infinite;
            animation: move 6.9s linear infinite;
  }
  .infinity div span:before, .infinity div span:after {
    content: "";
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    background: inherit;
    top: 50%;
    left: 50%;
    margin: -7px 0 0 -7px;
    box-shadow: inherit;
  }
  .infinity div span:before {
    -webkit-animation: drop1 0.8s linear infinite;
            animation: drop1 0.8s linear infinite;
  }
  .infinity div span:after {
    -webkit-animation: drop2 0.8s linear infinite 0.4s;
            animation: drop2 0.8s linear infinite 0.4s;
  }
  .infinity div:nth-child(2) {
    -webkit-animation-delay: -2.3s;
            animation-delay: -2.3s;
  }
  .infinity div:nth-child(2) span {
    -webkit-animation-delay: -2.3s;
            animation-delay: -2.3s;
  }
  .infinity div:nth-child(3) {
    -webkit-animation-delay: -4.6s;
            animation-delay: -4.6s;
  }
  .infinity div:nth-child(3) span {
    -webkit-animation-delay: -4.6s;
            animation-delay: -4.6s;
  }
  
  .infinityChrome {
    width: 128px;
    height: 60px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .infinityChrome div {
    position: absolute;
    width: 16px;
    height: 16px;
    background: #9356DC;
    box-shadow: 2px 2px 8px rgba(140, 111, 240, 0.09);
    border-radius: 50%;
    -webkit-animation: moveSvg 6.9s linear infinite;
            animation: moveSvg 6.9s linear infinite;
    filter: url(#goo);
    transform: scaleX(-1);
    offset-path: path("M64.3636364,29.4064278 C77.8909091,43.5203348 84.4363636,56 98.5454545,56 C112.654545,56 124,44.4117395 124,30.0006975 C124,15.5896556 112.654545,3.85282763 98.5454545,4.00139508 C84.4363636,4.14996252 79.2,14.6982509 66.4,29.4064278 C53.4545455,42.4803627 43.5636364,56 29.4545455,56 C15.3454545,56 4,44.4117395 4,30.0006975 C4,15.5896556 15.3454545,4.00139508 29.4545455,4.00139508 C43.5636364,4.00139508 53.1636364,17.8181672 64.3636364,29.4064278 Z");
  }
  .infinityChrome div:before, .infinityChrome div:after {
    content: "";
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    background: inherit;
    top: 50%;
    left: 50%;
    margin: -7px 0 0 -7px;
    box-shadow: inherit;
  }
  .infinityChrome div:before {
    -webkit-animation: drop1 0.8s linear infinite;
            animation: drop1 0.8s linear infinite;
  }
  .infinityChrome div:after {
    -webkit-animation: drop2 0.8s linear infinite 0.4s;
            animation: drop2 0.8s linear infinite 0.4s;
  }
  .infinityChrome div:nth-child(2) {
    -webkit-animation-delay: -2.3s;
            animation-delay: -2.3s;
  }
  .infinityChrome div:nth-child(3) {
    -webkit-animation-delay: -4.6s;
            animation-delay: -4.6s;
  }
  
  @-webkit-keyframes moveSvg {
    0% {
      offset-distance: 0%;
    }
    25% {
      background: #FF79DA;
    }
    75% {
      background: #99E2D0;
    }
    100% {
      offset-distance: 100%;
    }
  }
  
  @keyframes moveSvg {
    0% {
      offset-distance: 0%;
    }
    25% {
      background: #FF79DA;
    }
    75% {
      background: #99E2D0;
    }
    100% {
      offset-distance: 100%;
    }
  }
  @-webkit-keyframes rotate {
    50% {
      transform: rotate(360deg);
      margin-left: 0;
    }
    50.0001%, 100% {
      margin-left: -60px;
    }
  }
  @keyframes rotate {
    50% {
      transform: rotate(360deg);
      margin-left: 0;
    }
    50.0001%, 100% {
      margin-left: -60px;
    }
  }
  @-webkit-keyframes move {
    0%, 50% {
      left: -8px;
    }
    25% {
      background: #FF79DA;
    }
    75% {
      background: #99E2D0;
    }
    50.0001%, 100% {
      left: auto;
      right: -8px;
    }
  }
  @keyframes move {
    0%, 50% {
      left: -8px;
    }
    25% {
      background: #FF79DA;
    }
    75% {
      background: #99E2D0;
    }
    50.0001%, 100% {
      left: auto;
      right: -8px;
    }
  }
  @-webkit-keyframes drop1 {
    100% {
      transform: translate(32px, 8px) scale(0);
    }
  }
  @keyframes drop1 {
    100% {
      transform: translate(32px, 8px) scale(0);
    }
  }
  @-webkit-keyframes drop2 {
    0% {
      transform: translate(0, 0) scale(0.9);
    }
    100% {
      transform: translate(32px, -8px) scale(0);
    }
  }
  @keyframes drop2 {
    0% {
      transform: translate(0, 0) scale(0.9);
    }
    100% {
      transform: translate(32px, -8px) scale(0);
    }
  }
  .infinity {
    display: none;
  }
  
  html {
    -webkit-font-smoothing: antialiased;
  }
  

  *:before, *:after {
    box-sizing: border-box;
  }

  html, body{
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
  }

  #hideMe {
    -moz-animation: cssAnimation 0s ease-in 3s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 3s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 3s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 3s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    z-index: 999999999;
    background-color: white;
  }
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}
  